:root {
  /* font */
  --title-style-font: Poppins-SemiBold;
  --sub-title-style-font: Poppins-Italic;
  --basic-font: Poppins-Medium;
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(font/Poppins-SemiBold.otf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(font/Poppins-Medium.otf);
}

@font-face {
  font-family: Poppins-Italic;
  src: url(font/Poppins-Italic.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* background style */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      360deg,
      rgba(52, 79, 161, 0.5) 0%,
      rgba(52, 79, 161, 0.5) 100%
    ),
    url(img/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  z-index: -1;
}

body {
  color: white;
  min-height: 2500px;
}

/* title content */
#title-content {
  text-align: center;
  padding-top: 60px;
  padding-right: 34px;
  padding-left: 34px;
}

#title {
  font-family: var(--title-style-font);
  font-size: 2rem;
  line-height: 1.2;
}

#description {
  font-family: var(--sub-title-style-font);
  padding-top: 5px;
}

/* form */
#survey-form {
  display: grid;
  gap: 22px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 10px;
  max-width: 500px;
  background: rgba(17, 13, 52, 0.5);
  font-family: var(--basic-font);
}

#form-group {
  display: flex;
  flex-direction: column;
}

#name,
#email,
#number,
#dropdown {
  height: 37px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}

#name:focus,
#email:focus,
#number:focus,
#dropdown:focus {
  border: 2px solid royalblue;
}

#massage:focus {
  border: 2px solid royalblue;
}

#massage,
#submit {
  border-radius: 5px;
  padding: 10px;
  resize: none;
  outline: none;
  border: none;
}

#submit {
  margin-top: 20px;
  background-color: #00adb5;
  color: white;
  font-size: 1rem;
}

#question-form {
  margin-bottom: 5px;
}

#desc-form {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

/* responsive breakpoint */
@media screen and (min-width: 1024px) {
  #survey-form {
    max-width: 600px;
  }
}
