:root {
    /* font */
    --title-style-font: Poppins-SemiBold;
    --sub-title-style-font: Poppins-Italic;
    --basic-font: Poppins-Medium;

    /* color */
    --bg-color: #344FA1;
    --form-color: #110D34;
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(font/Poppins-SemiBold.otf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(font/Poppins-Medium.otf);
}

@font-face {
    font-family: Poppins-Italic;
    src: url(font/Poppins-Italic.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}